<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/app01/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <style>
        .form_id{
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
        <form class="col-md-10 form_id">
            <div class="form-group">
                <label for="username">username</label>
                <input type="text" class="form-control" id="username" placeholder="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-default" id="butBtn">提交</button>
        </form>

    </div>
<div>
	
	
	<li>日韩</li>
	<li>欧美</li>
	<li>非洲</li>
	<li>火星</li>
	<li>水星</li>
	<li>太阳</li>
	<li>太阳</li>
	<li>太阳</li>
	<li>太阳</li>
	<li>太阳</li>
	<li>太阳</li>
	<li>太阳</li>
	
	
	
	
</div>
</div>

<script>
    $("#butBtn").click(function () {
        $.ajax({
            url:"/login/",
            type:"POST",
            data:{
                username:$("#username").val(),
                password:$("#password").val()
            },
            success:function (data) {
                console.log(data)
            }
        })
    })
</script>
</body>
</html>